[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=SmartHosts
Name[zh]=云Hosts
Exec=/usr/bin/single-instance /opt/smarthosts/bin/smarthosts
Icon=/opt/smarthosts/icons/smarthosts_128x128.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
