Source: smarthosts
Section: user/Other
Priority: optional
Maintainer: lovewilliam <lovewilliam@gmail.com>
Build-Depends: debhelper (>= 7), libresource0-glib, aegis-manifest-dev,
 libglib2.0-dev
Standards-Version: 0.1.0
Homepage: http://weibo.com/1945886087
XSBC-Bugtracker: mailto:lovewilliam@gmail.com

Package: smarthosts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SmartHosts can update your hosts file
 For more info please read
 http://code.google.com/p/smarthosts/
XB-Maemo-Display-Name: SmartHosts
XB-Description: SmartHosts can update your hosts file
 For more info please read
 http://code.google.com/p/smarthosts/
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKL2lDQ1BJQ0MgcHJvZmlsZQAASMed
 lndUVNcWh8+9d3qhzTACUobeu8AA0nuTXkVhmBlgKAMOMzSxIaICEUVEmiJIUMSA0VAkVkSxEBRU
 sAckCCgxGEVULG9G1ouurLz38vL746xv7bP3ufvsvc9aFwCSpy+XlwZLAZDKE/CDPJzpEZFRdOwA
 gAEeYIApAExWRrpfsHsIEMnLzYWeIXICXwQB8HpYvAJw09AzgE4H/5+kWel8geiYABGbszkZLBEX
 iDglS5Auts+KmBqXLGYYJWa+KEERy4k5YZENPvsssqOY2ak8tojFOaezU9li7hXxtkwhR8SIr4gL
 M7mcLBHfErFGijCVK+I34thUDjMDABRJbBdwWIkiNhExiR8S5CLi5QDgSAlfcdxXLOBkC8SXcklL
 z+FzExIFdB2WLt3U2ppB9+RkpXAEAsMAJiuZyWfTXdJS05m8HAAW7/xZMuLa0kVFtjS1trQ0NDMy
 /apQ/3Xzb0rc20V6Gfi5ZxCt/4vtr/zSGgBgzIlqs/OLLa4KgM4tAMjd+2LTOACApKhvHde/ug9N
 PC+JAkG6jbFxVlaWEZfDMhIX9A/9T4e/oa++ZyQ+7o/y0F058UxhioAurhsrLSVNyKdnpDNZHLrh
 n4f4Hwf+dR4GQZx4Dp/DE0WEiaaMy0sQtZvH5gq4aTw6l/efmvgPw/6kxbkWidL4EVBjjIDUdSpA
 fu0HKAoRINH7xV3/o2+++DAgfnnhKpOLc//vN/1nwaXiJYOb8DnOJSiEzhLyMxf3xM8SoAEBSAIq
 kAfKQB3oAENgBqyALXAEbsAb+IMQEAlWAxZIBKmAD7JAHtgECkEx2An2gGpQBxpBM2gFx0EnOAXO
 g0vgGrgBboP7YBRMgGdgFrwGCxAEYSEyRIHkIRVIE9KHzCAGZA+5Qb5QEBQJxUIJEA8SQnnQZqgY
 KoOqoXqoGfoeOgmdh65Ag9BdaAyahn6H3sEITIKpsBKsBRvDDNgJ9oFD4FVwArwGzoUL4B1wJdwA
 H4U74PPwNfg2PAo/g+cQgBARGqKKGCIMxAXxR6KQeISPrEeKkAqkAWlFupE+5CYyiswgb1EYFAVF
 RxmibFGeqFAUC7UGtR5VgqpGHUZ1oHpRN1FjqFnURzQZrYjWR9ugvdAR6AR0FroQXYFuQrejL6Jv
 oyfQrzEYDA2jjbHCeGIiMUmYtZgSzD5MG+YcZhAzjpnDYrHyWH2sHdYfy8QKsIXYKuxR7FnsEHYC
 +wZHxKngzHDuuCgcD5ePq8AdwZ3BDeEmcQt4Kbwm3gbvj2fjc/Cl+EZ8N/46fgK/QJAmaBPsCCGE
 JMImQiWhlXCR8IDwkkgkqhGtiYFELnEjsZJ4jHiZOEZ8S5Ih6ZFcSNEkIWkH6RDpHOku6SWZTNYi
 O5KjyALyDnIz+QL5EfmNBEXCSMJLgi2xQaJGokNiSOK5JF5SU9JJcrVkrmSF5AnJ65IzUngpLSkX
 KabUeqkaqZNSI1Jz0hRpU2l/6VTpEukj0lekp2SwMloybjJsmQKZgzIXZMYpCEWd4kJhUTZTGikX
 KRNUDFWb6kVNohZTv6MOUGdlZWSXyYbJZsvWyJ6WHaUhNC2aFy2FVko7ThumvVuitMRpCWfJ9iWt
 S4aWzMstlXOU48gVybXJ3ZZ7J0+Xd5NPlt8l3yn/UAGloKcQqJClsF/hosLMUupS26WspUVLjy+9
 pwgr6ikGKa5VPKjYrzinpKzkoZSuVKV0QWlGmabsqJykXK58RnlahaJir8JVKVc5q/KULkt3oqfQ
 K+m99FlVRVVPVaFqveqA6oKatlqoWr5am9pDdYI6Qz1evVy9R31WQ0XDTyNPo0XjniZek6GZqLlX
 s09zXktbK1xrq1an1pS2nLaXdq52i/YDHbKOg84anQadW7oYXYZusu4+3Rt6sJ6FXqJejd51fVjf
 Up+rv09/0ABtYG3AM2gwGDEkGToZZhq2GI4Z0Yx8jfKNOo2eG2sYRxnvMu4z/mhiYZJi0mhy31TG
 1Ns037Tb9HczPTOWWY3ZLXOyubv5BvMu8xfL9Jdxlu1fdseCYuFnsdWix+KDpZUl37LVctpKwyrW
 qtZqhEFlBDBKGJet0dbO1husT1m/tbG0Edgct/nN1tA22faI7dRy7eWc5Y3Lx+3U7Jh29Xaj9nT7
 WPsD9qMOqg5MhwaHx47qjmzHJsdJJ12nJKejTs+dTZz5zu3O8y42Lutczrkirh6uRa4DbjJuoW7V
 bo/c1dwT3FvcZz0sPNZ6nPNEe/p47vIc8VLyYnk1e816W3mv8+71IfkE+1T7PPbV8+X7dvvBft5+
 u/0erNBcwVvR6Q/8vfx3+z8M0A5YE/BjICYwILAm8EmQaVBeUF8wJTgm+Ejw6xDnkNKQ+6E6ocLQ
 njDJsOiw5rD5cNfwsvDRCOOIdRHXIhUiuZFdUdiosKimqLmVbiv3rJyItogujB5epb0qe9WV1Qqr
 U1afjpGMYcaciEXHhsceiX3P9Gc2MOfivOJq42ZZLqy9rGdsR3Y5e5pjxynjTMbbxZfFTyXYJexO
 mE50SKxInOG6cKu5L5I8k+qS5pP9kw8lf0oJT2lLxaXGpp7kyfCSeb1pymnZaYPp+umF6aNrbNbs
 WTPL9+E3ZUAZqzK6BFTRz1S/UEe4RTiWaZ9Zk/kmKyzrRLZ0Ni+7P0cvZ3vOZK577rdrUWtZa3vy
 VPM25Y2tc1pXvx5aH7e+Z4P6hoINExs9Nh7eRNiUvOmnfJP8svxXm8M3dxcoFWwsGN/isaWlUKKQ
 Xziy1XZr3TbUNu62ge3m26u2fyxiF10tNimuKH5fwiq5+o3pN5XffNoRv2Og1LJ0/07MTt7O4V0O
 uw6XSZfllo3v9tvdUU4vLyp/tSdmz5WKZRV1ewl7hXtHK30ru6o0qnZWva9OrL5d41zTVqtYu712
 fh9739B+x/2tdUp1xXXvDnAP3Kn3qO9o0GqoOIg5mHnwSWNYY9+3jG+bmxSaips+HOIdGj0cdLi3
 2aq5+YjikdIWuEXYMn00+uiN71y/62o1bK1vo7UVHwPHhMeefh/7/fBxn+M9JxgnWn/Q/KG2ndJe
 1AF15HTMdiZ2jnZFdg2e9D7Z023b3f6j0Y+HTqmeqjkte7r0DOFMwZlPZ3PPzp1LPzdzPuH8eE9M
 z/0LERdu9Qb2Dlz0uXj5kvulC31OfWcv210+dcXmysmrjKud1yyvdfRb9Lf/ZPFT+4DlQMd1q+td
 N6xvdA8uHzwz5DB0/qbrzUu3vG5du73i9uBw6PCdkeiR0TvsO1N3U+6+uJd5b+H+xgfoB0UPpR5W
 PFJ81PCz7s9to5ajp8dcx/ofBz++P84af/ZLxi/vJwqekJ9UTKpMNk+ZTZ2adp++8XTl04ln6c8W
 Zgp/lf619rnO8x9+c/ytfzZiduIF/8Wn30teyr889GrZq565gLlHr1NfL8wXvZF/c/gt423fu/B3
 kwtZ77HvKz/ofuj+6PPxwafUT5/+BQOY8/yUGUl9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMA
 AAsTAAALEwEAmpwYAAAAB3RJTUUH3AoJEDUrjDu5WQAADNhJREFUeNrlm32Q1dV5xz/P+d19ucvu
 XVBWYBdlCSogNRACDg3gCyokOppWbUsYUu2M2qkdYdIOf7QzfRn9w2mISdAEE3RiaiwxL6ZFq4A1
 HVLRYssoKCpoVN5fXCnssrt378vvfPvHuffuXvbuggoKm3Pn7Nw957nn9zvf85zn7TwHfseLnaqB
 MukXkuBSDmvENBHpQuQngy4ADRd2PtBshhAGItS+r2JgSMIM9gvtMewo2G7MvQX2W7AdHrUbvqM6
 OTf9mQKQ6dyYJME0JyaBZqF4hsdPN3kwgfIFSo9CjQFHmCYQ9xktAjMKqHjDRQ6HcIU3TYAMmcPh
 XoFoM2abvLFdebbU1s9Jf2oA5NIbmiS3CGOB+XiGJ98UJpsHYklevUsaigNZ3+c5wFyBRCAPvvcZ
 hZa+7ydAZs4gMkiAJTASbbhoM2K94VdX1V3ZdtoAyKY3NCJbAiyWsq1GtgrlTSYfVt2cgPDHTv2G
 9cIXUZS8zGEyhyUkqnNm1TuBxzE9UJ28sv2UAZDpfsEc+dlCD6LcVNENxArrhMOsyKilpToN0+83
 rg9AgBGYRZE5q0NWtRW426h+sapujj4RAOnO5+sSjrukeDlKI/XEprDSVty1n3EpiFMZIJM3q42w
 JGbRsrxnZbL+mu6PBUCm65larGoFPnOn6BY+7zEirLQYp2uxPy5zBA0jYlzCGXWGq1kFuaU1ddf3
 fCQAMp1P10HiOyhzh9QlM/WlPxMmPRgYYXPIMBtmWM3DIv+N2vobuk8KgO7MGkvkor/2yi5Hnd6Q
 WeCws6oIkzBh9c5Z9TJVxffX1Hy1TCYkKv0wyjJbZJebjkmWx8L6l6uxM37y4X1lkumYRMNystEm
 YOOgHNDT/pNGc8M2QOc0xenYepX12Vok5C1KRlC/Rb7rytrGr7cPzAFRzRL5nqlSZ2zORQom29le
 Iu87Y7PEVKKaJcC9FTkg0/FEk7CN8kcuwuKiPLEhAIAKdgIWjXjHpDk1qYVt/ThAll+Ez7VCTkjm
 zgw1f0qcPo8XeMl3t+KqFgEryla358hDSaKGJ/HtX5ayMuQ4ywTfYAIRMGHerNqwxnXo2M21w/8i
 3csBUXIaPjMDZQ28FdZ+SHBAr/sgh7JAZgZRchrw3322gCaJTBPkvZmcRwy1YmZI3kOmyZScVAKg
 p/2RJMrPks8gcuDdEI3/CMxjymBUzeppf+SJRPCqfMopNwOyOOTM5YdsCEwyJ7JAdoanKpUg+O+N
 XvF0lJfMF8z+ocoDAuXlFU83EgEAIzfRyOHJKhJ2prh4p8NLciEQJ0fOTK41EdgifyHkQbFhNiQn
 X6bSJAvhu+jiIAOUn2xkMcUWD2H2L1OLyiISUwpqMH+BfA6ZTtr2S6dzHDjYSbonz7nnJBl13jDs
 DDEcQ1zdBvOOwOfA5VsLQjAe7omR8pxIAb708j5u+tqvaO/I9Oub+6Wx3H/f1Vw6pamsPTnyW4OO
 2b7/G1RXRyW6g+/dTWOqph9dsf/ZJ/+Iq64Y16+/+cLvceRoD7u330XTyLoBn+cFZhGmuLGgBvPn
 izxOg4e4/nzpOh5bvQ2Az/9eExeMTZFMVnGsM8u77x3hhZf2ctkV/8yjP7iehTdPPs4IgSmTRw68
 NwV33DaVh3+8lZ0725l66XllNFteO1T6/ss1O7jq8v4AHDnaw7BhVTSdW8dgdpwTkuXNiMcVtoCa
 RT525iMG0IH33PcSP/npNpwzuj5YOuDg4yavoqE+Aiu3JWpqIv73vxYPIp/z3Pv3X+LhH2/l3m9u
 5JeP31hGsXzFJgBax6X40WOv8f1vzyvr/9en3wHgj2+a2O/Z/QE38ygG3+JCQywUO8yHDXJc7e7K
 ct/9/4MEXYeWVKQp1l1v3sH1C8aXt/fdfIPUxoZqqqocz6x7r1/fq699ECb4hxMBaGvrKut/Zu27
 AMz5/eYTPifMM3YQK2x5xYa8EefDcdZx9furXsEMFi+cVLH/hLUEwIlpk7WBKTs6usva9+0/xu23
 TuGO2y4B4K0dbWX9m18NW2Te3OYTPyfOg7xBbK5gBwAxssqI/fo3e5DgD64bf2J0K9Wy4JTvV/vS
 XnvV+QUAMqW2Awc7yWY9ty2azNgxw0gkHOv/Y1fZ73a8cwQzGH1e3QnfRxbOJaW4GBCJQTn8AILj
 /V0hhDZhQgOxPp6f0NMTUzd6ZUWV1HnwztL///C3M3nyqXe5d/nLrPz2FQD803c3AzBmTC2x8lz4
 uRQP/eh17vm7mQD8esNeABbectHJvV/pFCEOWk94wGMRFWs6HQatb6jq1/f8b/ZQP3pVWZ1x+c/L
 aAYTAVA+3oQJKaLIeGz1jt5nbNgDwOgxdVgEEy8eQTqd51h3FovgiSeDAJx3ZcuAczi+Fk+sEwUZ
 gBTjVFl7nHtOLW0f9nD4cDfNo5NlfU0ja1i88CKkANSvnnq/MFtfRldbG3F4958NsCLltA31VRxt
 z9LR0UOqoZpDh9Lc/NXPlej+8s4prPn393l924fMnjWa1984HATgrFH9xhpI7XrFuCIAVjyXjvMV
 jYApk4az/e2jvPjSfj4/qbGs7wuXDGfVd2YDsHd/VwEAYXF/VqzUVqlMu/RcNmw8QPexHhrrHJ1d
 Of7qriml38+ZGeyJTZv2M2fmSLa9+X9BBTcng4A7uehI7xYI56wCi0Niw3F1/rwWAJ5eu6tif7Gq
 L/p9+yq1DVL/8W++AMA3V2xl+QNbC/s/WUYzYXwDP3x0O6++/iEAN93YetLj90a8izJAXqZYYU/G
 /erXF44HYMPGg4X9GA9Q+7Jf3/ZKbQPXy754Dmbww0d38C+/CPp99HnVZTQTxjew70A3Kx95E4Dr
 5zef9PgSmGIhr4IQjA3zXgqqsNJnzRPB8rpx4X/yrQe3VaTZ+PKhPmGH3g8VWwf/DG+sBuCddzv4
 8jXN/fpvv/UiAH7xbzsBmPnFkSc3sgkpBvNexMFl6jx0+z6puxnFkhvYF3h2/T4W/mnv0dpFExo4
 Z0Q1Rzty7NrdRU9PWO0nf3o5184bU6JLjfoZtbURH+y65aTV5uXXPseW144A8PwzV3PZjP5+RGrU
 z0rfOw79yUc5JBDmzCy1ryAE83uQmj2xRYMERG+4tpnD79/Mih/sYM0ze9m67Wip77r5zdx0w1i+
 dktrr8tVKFfNPY8Rw2uI/MkHG5bfM43vPrQD78XE8fUVf3vbovEcPpLl0ksaP9LYMd6cHFh2lwF0
 Hbx1ndSzwCtLZEM1HtQHAAlHNeaSa4taYHcxZPw7UcwXtcDOgikcvRVw8Menpg3R4oXDhHsjBEXJ
 /FZ4kCQXG0M5LmjBChbeDL1dMIW1Q0E5GkFADuGDEYGZScLIhC3gvW935l/xaLrJBxyG9NGIM4d/
 xaOOggzIdCC3GWk6xJ7ePMAhdShiwRz3YA5jM3EmAJBqWZPu2nfjJszulDxypyfT9TPf+sUEdTMg
 3pQa+1S6ZPV4c9vNaDPDDY20oMoHAmY4gzbhtlM4KitowhFbTG5zIdXZIyENDX0gUcz18mF+brNF
 I7aUAdAw6tG0XLReinIWpKXCMWEx6/3srWaYVEQgyuGi9fWjHk2XcwDgfXY1ZjuLB2QKUdKzX+qr
 GJQwM7OdPs6uLh2S9CVtbFnbBu5xLIFkHvPW++Ozlf1DblSYTwLkHm8cu7atIgAAUdT4ALitWBQp
 LjjMZ6tQLFw+IibGRRG4rWF+xx3LHV869n1ljuFfgLyQZM6cZDqbUgckZCaTl5eZQcLAzU21rC3L
 Fa7o/FteL8rcMikK8SFJZrKzhhMkzFQQfAJFZuaWxejF40krAtAwbp3MxysxW2VWZRKS955gQp/B
 grGgus3C+wrJqgyzVVK8ckTLOp0UAAANY5/rBpaCPQyRkznzsfdWEoy9yvWMmHZB2pt587H3mDMR
 ObCHDZamWp7rHshCHLS0772mzjl3l6TlFlIrYkwuKNegZD9br0G9Kx9uCXhwkczAbJnJr2xoef7j
 3RkqCcUD15nF+dmCB0FTzTwK/iQOCmFUQ3w6UlKFpxWzgEMWdMHkwSFsq+DuSIkX689/9pPdGisD
 Yu+CRtASYDGmVsNXKVyl8YXUYmdWvLnkTsPEg6seZlS6nRk0FC4nbCfwOGYPpFrWn7p7g/2BmN8E
 WgS2ADQD803BXFLhqkowo9XnWp0IDNKbhHj8RZTggvTef+uXqa7gnjgzk5Vu35prw7MZl1iP/OrU
 2PWn7+ZofyCuTppF0+RtEs7PMpiBmI6pmJ8eICnMRCI2hwv/quLrKEzUG0RF96Xkm6t4N85eMdgs
 3CZguzltaWh+7tO7O1wRjD3zk2ApnFKgVsTFwBRQqxmNEuMMWsxMg4ecTD6WYewDdmG0G7ZT4g2D
 t73YCVEH+I7G85/7xLfH/x+2n6aWMfaLvwAAAABJRU5ErkJggg==
